openapi: 3.1.0
info:
  title: Amazon Aurora DSQL Clusters Multi-Region Clusters API
  description: Amazon Aurora DSQL is a distributed SQL database service optimized for transactional workloads. It provides a serverless, fully managed PostgreSQL-compatible database with built-in high availability, scalability, and global distribution capabilities.
  version: '2018-03-01'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://dsql.us-east-1.amazonaws.com
  description: Amazon Aurora DSQL API endpoint
security:
- sigv4: []
tags:
- name: Multi-Region Clusters
  description: Operations for managing multi-region cluster configurations
paths:
  /multi-region-clusters:
    post:
      operationId: createMultiRegionClusters
      summary: Amazon Aurora DSQL Create Multi Region Clusters
      description: Creates multi-Region clusters in Amazon Aurora DSQL. Multi-Region clusters require a linked Region list, which is an array of the Regions in which you want to create linked clusters.
      tags:
      - Multi-Region Clusters
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMultiRegionClustersInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  linkedRegionList:
                  - us-east-1
                  - us-west-2
                  clusterProperties:
                    deletionProtectionEnabled: true
                  witnessRegion: eu-west-1
      responses:
        '200':
          description: Multi-region clusters created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMultiRegionClustersOutput'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    linkedClusterArns:
                    - arn:aws:dsql:us-east-1:123456789012:cluster/cluster1
                    - arn:aws:dsql:us-west-2:123456789012:cluster/cluster2
    delete:
      operationId: deleteMultiRegionClusters
      summary: Amazon Aurora DSQL Delete Multi Region Clusters
      description: Deletes a multi-Region cluster in Amazon Aurora DSQL.
      tags:
      - Multi-Region Clusters
      x-microcks-operation:
        delay: 100
        dispatcher: QUERY_MATCH
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteMultiRegionClustersInput'
            examples:
              default:
                x-microcks-default: true
                value:
                  linkedClusterArns:
                  - arn:aws:dsql:us-east-1:123456789012:cluster/cluster1
                  - arn:aws:dsql:us-west-2:123456789012:cluster/cluster2
      responses:
        '200':
          description: Multi-region clusters deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteMultiRegionClustersOutput'
              examples:
                default:
                  x-microcks-default: true
                  value: {}
components:
  schemas:
    CreateMultiRegionClustersInput:
      type: object
      required:
      - linkedRegionList
      properties:
        linkedRegionList:
          type: array
          items:
            type: string
          description: An array of the Regions in which you want to create linked clusters
        clusterProperties:
          $ref: '#/components/schemas/LinkedClusterProperties'
        witnessRegion:
          type: string
          description: The witness Region of multi-Region clusters
        clientToken:
          type: string
    DeleteMultiRegionClustersInput:
      type: object
      required:
      - linkedClusterArns
      properties:
        linkedClusterArns:
          type: array
          items:
            type: string
          description: The ARNs of the clusters linked to the cluster you want to delete
        clientToken:
          type: string
    LinkedClusterProperties:
      type: object
      properties:
        deletionProtectionEnabled:
          type: boolean
        tags:
          type: object
          additionalProperties:
            type: string
    DeleteMultiRegionClustersOutput:
      type: object
    CreateMultiRegionClustersOutput:
      type: object
      properties:
        linkedClusterArns:
          type: array
          items:
            type: string
          description: An array of the ARNs of the clusters that were created
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4
